machines/example_one.yml
Comment: An example template written in YAML
StartAt: RandomNumberConfig
States:
  RandomNumberConfig:
    Comment: Configure the RandomNumberLambda
    Next: RandomNumberLambda
    Result:
      max: 10
      min: 1
    ResultPath: $
    Type: Pass
  RandomNumberLambda:
    Comment: Generate a number based on input.
    Next: ChooseNext
    Resource: ${random_lambda_arn}
    Type: Task
  ChooseNext:
    Choices:
    - Next: PowerLambda
      NumericGreaterThanEquals: 5
      Variable: $
    - Next: EndState
      NumericLessThan: 5
      Variable: $
    Comment: Do a power of 3, or end the state machine execution
    Type: Choice
  PowerLambda:
    Comment: Increase the input to power of 3
    End: true
    Parameters:
      base.$: $
      exponent: 3
    Resource: ${power_lambda_arn}
    Type: Task
  EndState:
    Comment: EndState
    End: true
    Type: Pass
